@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

html, body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 13px;
	height: 100%;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-weight: 400;
}

a {
	color: #000;
	text-decoration: none;
}

#app {
	max-width: 700px;
	margin: auto;
	height: 100%;
}

.avatar--container {
	width: 40px;
	height: 40px;
	border: solid 1px #e7e7e7;
	border-radius: 40px;
	display: inline-block;
	overflow: hidden;

	img {
		width: 100%;
	}
}

// detail

.massage--container{
	background: #ffffff;
	height: 100%;
	animation: animate--right--to--left 0.7s;
	position: relative;
}

.massage--header{
	border-bottom: solid 1px #e9e9e9;
	height: 50px;
}

.user--detail{
	display: inline-block;
	vertical-align: middle;
}

.back--link{
	padding: 16px 14px 16px 15px;
	display: inline-block;
	margin-right: 4px;
}

@keyframes animate--right--to--left{
	0%{
		left: 30px;
		opacity: 0;
	}

	100%{
		left: 0px;
		opacity: 1;
	}
}

@keyframes animate--bottom--to--top{
	0%{
		top: 30px;
		opacity: 0;
	}

	100%{
		top: 0px;
		opacity: 1;
	}
}